@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font family for Poppins */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background: #5B7C99;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5B7C99;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5B7C99 #1E1E1E;
}
